@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root{
    --text-dark:#212544;
    --text-light: #ffffff;
    --color-code-1:#f38e67;
    --color-code-2:#4ca5b0;
    --color-code-3:#212544;
    --color-code-4:#f3ca81;
    --color-code-5:#f65d53;
    --max-width: 1200px;
    --header-font: "Bebas Neue", sans-serif;
}

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

img{
    display: flex;
    width: 100%;
}

a{
    text-decoration: none;
    transition: 0.3s;
}

body{
    font-family: "Poppins", sans-serif;
    background-color: #ffffff;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}

/*first index design*/
/*navigation header*/
nav{
    position:fixed;
    isolation: isolate;
    width: 100%;
    z-index: 9;
}

.nav_header{
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-code-3);
}

.nav_logo{
    display: flex;
    align-items: center;
}

.nav_logo a {
    font-size: 1.75rem;
    font-weight: 400;
    font-family: var(--header-font);
    color: var(--text-light);
}

.logo-img{
    width: 40px;
    height: 40px;
    margin-right: 8px;
}

.nav_menu_button{
    font-size: 1.5rem;
    color: var(--text-light);
    cursor: pointer;
}

/*navigation links/tabs*/
.nav_links{
    position: absolute;
    top: 64px;
    left: 0;
    width: 100%;
    padding: 2rem;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--text-dark);
    transition: 0.5s;
    z-index: -1;
    transform: translateY(-100%);
}

.nav_links.open{
    transform: translateY(0);
}

.nav_links a{
    font-weight: 500;
    color: var(--text-light);

}

.nav_links a:hover{
    color: var(--color-code-1);
}

/*social media logos*/
.socials{
    display: flex;
    flex: 1;
    flex-direction: row; /* Set this to make them appear horizontally */
    gap: 10px; /* Add space between icons */
    justify-content: center; /* Center the icons */
    list-style-type: none;
    padding:0;
    gap: 30px;
}

.socials a{
    padding-block: 5px;
    color: var(--text-dark);
    border-bottom: 4px solid transparent;
}

.socials i{
   color: var(--color-code-3) 
}

.socials a:hover{
    border-color: var(--color-code-4);
}

/*bottom bar footer*/
.bottom-bar{
    background: var(--color-code-4);
    text-align: center;
    padding:10px 0;
    margin-top: 50px;
}

.bottom-bar p{
    color: var(--text-dark);
    margin: 0;
    font-size: 16px;
    padding: 7px;
}


/*bigger screens*/

@media (width > 768px) {
    nav{
        position: static;
        padding-block: 1rem .5rem;
        padding-inline: 1rem;
        max-width: var(--max-width);
        margin-inline: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
    }

    .nav_header{
        flex: 1;
        padding: 0;
        background-color: transparent;
    }


    .nav_logo a{
        color: var(--text-dark);
    }

    .nav_logo a span{
        color: var(--color-code-5)
    }

    .nav_menu_button{
        display: none;
    }

    .nav_links{
        position: static;
        padding: 0;
        flex-direction: row;
        background-color: transparent;
        transform: none;
    }

    .nav_links a{
        padding-block: 5px;
        color: var(--text-dark);
        border-bottom: 4px solid transparent;
    }

    .nav_links a:hover{
        border-color: var(--color-code-2);
    }


    .socials{
        display: flex;
        flex: 1;
        flex-direction: row; /* Set this to make them appear horizontally */
        gap: 10px; /* Add space between icons */
        justify-content: center; /* Center the icons */
        list-style-type: none;
        padding:0;
        gap: 30px;
    
    }

    .socials a{
        padding-block: 5px;
        color: var(--color-code-4);
        border-bottom: 4px solid transparent;
    }

    .socials i{
       color: var(--color-code-5) 
    }

    .socials a:hover{
        border-color: var(--text-light);
    }

}

/*second index design*/
.about_us{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: #f3ca81;
}
/*hovering effect picture*/
.ctr-accordion{
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: row;
    align-items: start;
    align-content:space-around;
    gap:20px;
    overflow: hidden;
    margin: auto;
}
.tab{
    position: relative;
    width: 80%;
    height: 400px;
    padding: 20px;
    background: rgb(150, 150, 150);
    cursor: pointer;
    transition: width .5s ease;
    border-radius: 25px;
}

.tab img{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease;
    border-radius: 25px;
}

.tab:hover img{
    opacity: 0.6;
}

.tab:hover{
    width: 500%;
}

/*section 1 designs*/

section{
    padding: 50px 10%;
}

.about_us-text{
    flex: 1 1 17rem;
}

.ctr-accordion{
     flex: 1 1 17rem;
}

.about_us-text span{
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--color-code-5);
}

.about_us h1{
    font-size: 5rem;
    color: var(--color-code-3);
    font-family: var(--header-font);
    font-weight: bolder;
}

.about_us-text h2{
    font-size: 1.5;
    font-weight: 600; 
    color: var(--color-code-3);
    margin: 0.5rem 0 1.4rem;  
}

.heading{
    text-align: center; 
    text-transform: uppercase;
}

.heading span{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-code-3)
}

.heading h1{
    font-size: 4rem; 
    font-family: var(--header-font);
    color: var(--color-code-5);
}

.framework-container{
    display: flex;
    flex-shrink: wrap;
    gap: 1rem;
    margin-top: 5rem; 
}

.framework-container .box{
    flex: 1 1 10rem;
    background: var(--color-code-1);
    padding: 20px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    border-radius: 0.5rem;
}

.framework-container .box .box-img{
    width: 150px;
    height: 150px;
    margin-top: -100px;
}

.framework-container .box .box-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.framework-container .box h2{
    color: var(--color-code-3);
    font-size: 2rem;
    font-weight:  500;
    font-family: var(--header-font);
    margin:0.2rem 0 0.5rem;
}

.framework-container .box span {
    color: var(--text-light);
    font-size: 1.2rem;
    font-weight: 300;
    margin: 0.2rem 0 0 0.5rem;
}

.framework-container .box p {
    color: var(--text-light);
    font-size: 1.2rem;
    font-weight: 300;
    margin: 0.2rem 0 0 0.5rem;
}

.box{
    border: 2px solid #ebdbc8;
    color: var(--color-code-1);
}

.sudlanan{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 2rem;
}

.history-img{
    flex: 1 1 21rem;
}

.history-text{
    flex: 1 1 21rem;
}

.history-text h2{
    font-size: 1.2rem;
    color: var(--color-code-3);
}

.history-text p{
    margin: 0.5rem 0 1rem;
    text-align: justify;
}

/* Adjust for smaller screens */
@media (max-width: 768px) {

    /* About Us section */
    .about_us {
        flex-direction: column; /* Stack content vertically */
        padding: 20px; /* Reduce padding */
    }

    /* Text section */
    .about_us-text {
        font-size: 0.9rem; /* Smaller font */
        text-align: center; /* Center text */
        padding: 100px; 
        padding-bottom: 0;;
    }

    /* Accordion section */
    .ctr-accordion {
        flex-direction: column; /* Stack tabs vertically */
        width: 100%; /* Make sure it fits the screen */
        gap: 10px; /* Reduce gap between tabs */
    }

    /* Tab */
    .tab {
        width: 100%; /* Full width on smaller screens */
        height: 200px; /* Reduce height */
        padding: 10px; /* Less padding */
    }

    .tab:hover {
        width: 100%; /* Disable hover expansion on smaller screens */
    }

    .tab img {
        height: 100%; /* Maintain height to fit within the new size */
    }

    /* Headings and text adjustments */
    .about_us h1 {
        font-size: 3rem; /* Adjust the main heading size */
    }

    .about_us-text h2 {
        font-size: 1.2rem; /* Adjust secondary heading size */
    }

    .heading h1 {
        font-size: 2.5rem; /* Reduce size for main headings */
    }

    .heading span {
        font-size: 1.2rem; /* Reduce size for span text */
    }

    /* Framework container */
    .framework-container {
        margin-top: 0;
        flex-direction: column; /* Stack boxes vertically */
        gap: 1rem; /* Adjust gap for smaller screens */
    }

    .framework-container .box {
        width: 100%; /* Full width on smaller screens */
        margin-top: 5rem; /* Adjust margin */
    }

    .framework-container .box h2 {
        font-size: 1.5rem; /* Reduce heading size inside boxes */
    }

    .framework-container .box p, .framework-container .box span {
        font-size: 1rem; /* Reduce paragraph text size */
    }
}


/*Third index design*/
.service_team {
    background-color: var(--color-code-3);
}

.section-title {
    text-align: center; 
    text-transform: uppercase;
}

.section-title span {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-code-4);
    margin-top: -1rem;
}

.section-title h1 {
    font-size: 4rem; 
    font-family: var(--header-font);
    color: var(--color-code-5);
}

.list {
    width: 100%; /* Ensures the list takes up the full width of its container */
    max-width: 1080px; /* Optional: sets a maximum width for better control */
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Limits to two columns */
    gap: 50px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    /* Make list items stack vertically on smaller screens */
    .list {
        grid-template-columns: 1fr; /* Single column layout */
        gap: 20px; /* Reduce gap */
    }

    .section-title h1 {
        font-size: 2.5rem; /* Adjust title size */
    }

    .section-title span {
        font-size: 1.5rem; /* Adjust subtitle size */
    }

    .section-title{
        margin-top: 1rem;
    }

    .des{
        font-size: 12px ;
    }

    /* Headings and text adjustments */

    .head-text{
        margin-top: 3rem;
        margin-bottom: -12rem;
    }
    .head-text h1 {
        font-size: 2rem; /* Reduce size for heading */
    }

    

    /* Adjust item dimensions and animations */
    .main {
        flex-direction: column;
        padding-top: 14rem;
    }
    
    .wrap {
        width: 100%; /* Full width on smaller screens */
        gap:20px;
    }

    .item2 {
        padding: 15px;
        box-shadow: 0 20px 15px #5555;
    }

    .item2 img {
        height: 200px; /* Reduce image height */
    }

    /* Slider adjustments */
    .slider {
        mask-image: none; /* Remove mask effect for smaller screens */
        overflow-x: scroll; /* Enable horizontal scroll on smaller screens */
    }

    .slider .list1 {
        display: block; /* Stack items vertically */
        width: auto; /* Remove fixed width */
    }

    .slider .list1 .item1 {
        position: relative; /* Remove absolute positioning */
        animation: none; /* Disable animation */
    }

    .slider .list1 .item1 img {
        max-width: 100%; /* Ensure images don't exceed screen width */
        height: auto; /* Maintain aspect ratio */
    }
}


.list .item img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    transition: 0.5s;
}
.list .item:hover img{
    transform: scale(1.2);
}
.list .item{
    color: #c7c3c3;
    font-family: Poppins;
    position: relative;
    transition: 0.5s;
}
.list .item .content{
    position: absolute;
    bottom: 0;
    color: #fff;
    padding: 20px;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
}
.content h1{
    color: var(--color-code-5);
}
.list .item:hover .content{
    opacity: 1;
    transform: translateY(0);
}

.list .item .image:hover {
    filter: blur(8px);
}
.head-text h1{
    color: var(--color-code-1);
    font-family: var(--header-font);
    font-size: 2.5rem;
    font-weight: 600;
}

.main{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -17rem;
    margin-top: -8rem;
}
.wrap {
    width: 300px;
    margin: 2rem;
    transform-style: preserve-3d;
    transform: perspective(100rem);
    cursor: pointer;
}
.item2 {
    --rX: 0deg;
    --rY: 0deg;
    --bX: 50%;
    --bY: 80%;
    width: 100%;
    background-color: var(--color-code-1);
    border-radius: 20px;
    transform: rotateX(var(--rX)) rotateY(var(--rY));
    transition: 0.2s;
    padding: 20px;
    box-shadow: 0 30px 20px #5555;
}
.item2 img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 30px 20px #5559;
    z-index: -1;
}
.wrap .item2 p{
    color: var(--text-light);
    text-align: center;
    margin-bottom: 0.5rem;
}

.chapter-container{
    margin-top: 5rem;
}

.buhisan h1{
    color: var(--color-code-5);
}

.buhisanc{
    background-color: var(--color-code-5);
}

.mambaling h1{
    color: var(--color-code-3);
}

.mambalingc{
    background-color: var(--color-code-3);
}

.sanlorenzo h1{
    color: #e9af4b;
}

.sanlorenzoc{
    background-color: #e9af4b;
}

.sannicolas h1{
    color: var(--color-code-2) ;
}

.sannicolasc{
    background-color: var(--color-code-2);
}
/*running animation*/
main{
    width: min(1200px, 90vw);
    margin: auto;
}
.slider{
    width: 100%;
    height: var(--height);
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        transparent,
        #000 10% 90%,
        transparent
    );
}
.slider .list1{
    display: flex;
    width: 100%;
    min-width: calc(var(--width) * var(--quantity));
    position: relative;
}
.slider .list1 .item1{
    width: var(--width);
    height: var(--height);
    position: absolute;
    left: 100%;
    animation: autoRun 30s linear infinite;
    transition: filter 0.5s;
    animation-delay: calc( (10s / var(--quantity)) * (var(--position) - 1) - 10s)!important;
}
.slider .list1 .item1 img{
    width: 100%;
}
@keyframes autoRun{
    from{
        left: 100%;
    }to{
        left: calc(var(--width) * -1);
    }
}
.slider:hover .item1{
    animation-play-state: paused!important;
    filter: grayscale(1);
}
.slider .item1:hover{
    filter: grayscale(0);
}
.slider[reverse="true"] .item1{
    animation: reversePlay 10s linear infinite;
}
@keyframes reversePlay{
    from{
        left: calc(var(--width) * -1);
    }to{
        left: 100%;
    }
}

/*end of third index*/


/*start of fourth index*/
.carousel{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}
.carousel .list3 .item3{
    position: absolute;
    inset: 0 0 0 0;
}
.carousel .list3 .item3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carousel .list3 .item3 .content3{
    position: absolute;
    top: 20%;
    width: 1140px;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: #fff;
    text-shadow: 0 5px 10px #0004;
}
.carousel .list3 .item3 .author{
    font-weight: bold;
    letter-spacing: 10px;
}
.carousel .list3 .item3 .title3,
.carousel .list3 .item3 .topic3{
    font-size: 5em;
    font-weight: bold;
    line-height: 1.3em;
}
.carousel .list3 .item3 .topic3{
    color: #f1683a;
}
.carousel .list3 .item3 .content3 .des3{
    padding-right: 50%;
    position: relative ;
}
.carousel .list3 .item3 .buttons{
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: 40px;
    gap: 5px;
    margin-top: 20px;
}
.carousel .list3 .item3 .buttons button{
    border: none;
    background-color: #eee;
    letter-spacing: 3px;
    font-family: Poppins;
    font-weight: 500;
}
.carousel .list3 .item3 .buttons button:nth-child(2){
    background-color: transparent;
    border: 1px solid #fff;
    color: #eee;
}

/*Thumbnail*/
.thumbnail{
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
}
.thumbnail .item3{
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
}
.thumbnail .item3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.thumbnail .item3 .content3{
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
}
.thumbnail .item3 .content3 .title3{
    font-weight: 500;
}
.thumbnail .item3 .content3 .description{
    font-weight: 300;
}

/*Arrows*/
.arrows{
    position: absolute;
    top: 85%;
    right: 61.5%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}
.arrows button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #eee4;
    border: none;
    color: #fff;
    font-family: monospace;
    font-weight: bold;
    transition: .5s;
}
.arrows button:hover{
    background-color: #fff;
    color: #000;
}

/* animation */
.carousel .list3 .item3:nth-child(1){
    z-index: 1;
}

/* animation text in first item */

.carousel .list3 .item3:nth-child(1) .content3 .author,
.carousel .list3 .item3:nth-child(1) .content3 .title3,
.carousel .list3 .item3:nth-child(1) .content3 .topic3,
.carousel .list3 .item3:nth-child(1) .content3 .des3,
.carousel .list3 .item3:nth-child(1) .content3 .buttons
{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s 1s linear 1 forwards;
}
@keyframes showContent{
    to{
        transform: translateY(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
.carousel .list3 .item3:nth-child(1) .content3 .title3{
    animation-delay: 1.2s!important;
}
.carousel .list3 .item3:nth-child(1) .content3 .topic3{
    animation-delay: 1.4s!important;
}
.carousel .list3 .item3:nth-child(1) .content3 .des3{
    animation-delay: 1.6s!important;
}
.carousel .list3 .item3:nth-child(1) .content3 .buttons{
    animation-delay: 1.8s!important;
}
/* create animation when next click */
.carousel.next .list3 .item3:nth-child(1) img{
    width: 150px;
    height: 220px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    border-radius: 30px;
    animation: showImage .5s linear 1 forwards;
}
@keyframes showImage{
    to{
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

.carousel.next .thumbnail .item3:nth-last-child(1){
    overflow: hidden;
    animation: showThumbnail .5s linear 1 forwards;
}
.carousel.prev .list3 .item3 img{
    z-index: 100;
}
@keyframes showThumbnail{
    from{
        width: 0;
        opacity: 0;
    }
}
.carousel.next .thumbnail{
    animation: effectNext .5s linear 1 forwards;
}

@keyframes effectNext{
    from{
        transform: translateX(150px);
    }
}

/* running time */

.carousel .time{
    position: absolute;
    z-index: 1000;
    width: 0%;
    height: 3px;
    background-color: #f1683a;
    left: 0;
    top: 0;
}

.carousel.next .time,
.carousel.prev .time{
    animation: runningTime 3s linear 1 forwards;
}
@keyframes runningTime{
    from{ width: 100%}
    to{width: 0}
}


/* prev click */

.carousel.prev .list3 .item3:nth-child(2){
    z-index: 2;
}

.carousel.prev .list3 .item3:nth-child(2) img{
    animation: outFrame 0.5s linear 1 forwards;
    position: absolute;
    bottom: 0;
    left: 0;
}
@keyframes outFrame{
    to{
        width: 150px;
        height: 220px;
        bottom: 50px;
        left: 50%;
        border-radius: 20px;
    }
}

.carousel.prev .thumbnail .item3:nth-child(1){
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail .5s linear 1 forwards;
}
.carousel.next .arrows button,
.carousel.prev .arrows button{
    pointer-events: none;
}
.carousel.prev .list3 .item3:nth-child(2) .content3 .author,
.carousel.prev .list3 .item3:nth-child(2) .content3 .title3,
.carousel.prev .list3 .item3:nth-child(2) .content3 .topic3,
.carousel.prev .list3 .item3:nth-child(2) .content3 .des3,
.carousel.prev .list3 .item3:nth-child(2) .content3 .buttons
{
    animation: contentOut 1.5s linear 1 forwards!important;
}

@keyframes contentOut{
    to{
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}
@media screen and (max-width: 678px) {
    .carousel .list3 .item3 .content3{
        padding-right: 0;
    }
    .carousel .list3 .item3 .content3 .title3{
        font-size: 30px;
    }
}

/*sections in index4 */
.indent1{
   padding-left: 50px;
}

.bullets{
    color: var(--color-code-2);
    font-size: 16px;
    padding-left: 20px;
    font-weight: bold;

}

.learnmore{
    margin-top: -1.5rem;
}

.mca h1{
    color: var(--color-code-2);
}
.jkd h1{
    color: var(--color-code-5);
}
.junior{
    color: var(--color-code-5)
}

.JKD{
    margin-top: -1.5rem;
}
.skc h1{
    color: var(--color-code-3);
}
.senior{
    color: var(--color-code-3)
}

.SKC{
    margin-top: -1.5rem;
}

.gds h1{
    color: var(--color-code-2);
}
.global{
    color: var(--color-code-2)
}

.GDS{
    margin-top: -1.5rem;
}

.rfwt h1{
    color: var(--color-code-5);
}
.rock{
    color: var(--color-code-5)
}

.RFWT{
    margin-top: -1.5rem;
}

.buttons a{
    font-weight: 500;
    color: #f1683a;
    font-weight: bold;

}

.buttons a:hover{
    color: var(--color-code-4);
}
